
.planos {
    padding: 7rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.planos-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.planos-cabecalho h2 {
    color: #5600B2;
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.planos-cabecalho h1 {
    font-weight: 900;
    font-size: 2.2rem;
    text-align: center;
    margin: 0;
}

.planos-opcoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.planos-card {
    padding: 2rem;
    border: 1px solid #E0DAE7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 0.2s;
}



#card-popular {
    border: 2px solid #5600B2;
}

@media (hover: none) {
    .planos-card-ativo {
        border: 1px solid #a980d6;
        box-shadow: 0 0.3rem 2rem rgb(177, 177, 177);
    }
}



.planos-card p,h1,h2,h3 {
    margin: 0;
}

.planos-card-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.planos-card-cabecalho p {
    color: #64748B;
    font-size: 0.9rem;
    line-height: 1.4rem;
}


#planos-card-valor {
    color: #5600B2;
    font-size: 2.4rem;
    font-weight: 900;
}

#planos-card-mes {
    color: #64748B;
    font-weight: 700;
}

.planos-card button {
    width: 100%;
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}   

@media (hover: none) {
    .planos-card-ativo button {
        background-color: #5600B2;
        border-radius: .5rem;
        color: white;
    }
}



#card-popular button {
    background-color: #5600B2;
    border-radius: .5rem;
    color: white;
    box-shadow: 0 0.2rem 1rem #8462a8;
}

.planos-card-beneficios {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
}

.planos-card-beneficios li {
    display: flex;
    gap: 1rem;
    color: #334155;
    font-size: .9rem;
    font-weight: 600;
}

.planos-card-beneficios img {
    width: 1rem;
    height: 1rem;
}

#basico-item-retirado {
    color: #CBD5E1;
    text-decoration: line-through;
}

#card-popular .planos-card-cabecalho {
    position: relative;
}

#card-popular h3 {
    position: absolute;
    top: -3rem;
    left: 3rem;
    background-color: #5600B2;
    padding: 1rem;
    width: fit-content;
    line-height: 0;
    border-radius: 2rem;
    font-size: 0.7rem;
    color: white;
    font-weight: 900;
}

.planos-card h1 {
    font-weight: 900;
}




@media(min-width: 768px) {
    .planos {
        padding: 7rem 8rem;
    }

    .planos-opcoes {
        flex-direction: row;
        justify-content: center;
    }

    #card-popular h3 {
        left: 6.8rem;
    }

    .planos-card:hover {
        border: 1px solid #a980d6;
        box-shadow: 0 0.3rem 2rem rgb(177, 177, 177);
    }

    .planos-card:hover button {
        background-color: #5600B2;
        border-radius: .5rem;
        color: white;
        box-shadow: 0 0.3rem 2rem rgb(177, 177, 177);
    }

    #card-popular:hover {
        border: 5px solid #5600B2;
    }

    #card-popular button {
        box-shadow: 0 0.3rem 2rem rgb(177, 177, 177);
    }

    .planos-card button:active {
        background-color: #3a0079;
    }

    #card-popular button:active {
        background-color: #3a0079;
    }
}