body[data-theme="light"] {
    --roxo-primario: #5600B2;
    --bg: white;

    --faq-bg: white;
    --faq-titulo-secao: #5600B2;
    --faq-borda-perguntas: #c0bcc5;
    --faq-bg-pergunta-aberta: #dadada;
    --faq-borda-superior-resposta: #c0bcc5;
    --faq-resposta-color: #475569;

    --planos-titulo-secao: #5600B2;
    --planos-borda-card: #E0DAE7;
    --planos-borda-card-ativo: #a980d6;
    --planos-sombra-card-ativo: rgb(177, 177, 177);
    --planos-card-descricao: #64748B;
    --planos-card-ativo-botao: white;
    --planos-card-popular-botao-sombra: #8462a8;
    --planos-card-beneficios: #334155;
    --planos-card-beneficios-retirado: #CBD5E1; 
    --planos-card-botao-hover: #3a0079;
}

#botao-trocar-tema {
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--planos-sombra-card-ativo);
    cursor: pointer;
}

#botao-trocar-tema:hover {
    background: var(--roxo-primario);
}

#icone-botao-tema {
    width: 2rem;
    height: 2rem;
}